:root {
  --branding-colour: #7b8369;
  --secondary-colour: #ebe5d4;
  --heading-font-family: "Playfair Display", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-colour);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  font-size: 24px;
}

.headshot {
  border-radius: 50%;
  margin-bottom: 25px;
}

.btn-branding {
  background: var(--branding-colour);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-colour);
  border: 1px solid var(--branding-colour);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 100px 60px;
}

.logo {
  height: 40px;
}

nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav li.active a,
nav a:hover {
  color: var(--branding-colour);
  transition: all 100ms ease-in-out;
}

.contact-container a{
  color:#272142;
  text-decoration: none;
}


.contact-container a:hover{
  color:#7A8368

}
footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-colour);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

footer .email-link:hover {
  color: var(--branding-colour);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-colour);
  background: var(--secondary-colour);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-colour);
}
.portrait {
  border-radius: 10px;
}
.content-container {
  padding: 20px 20px;
}

.content {
  margin: 30px;
  text-align: center;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content-container p {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-me a {
  color: #000;
  transition: all 0.2ms ease-in-out;
}

.about-me a:hover {
  color: #7A8368;
}

.about-me p {
  margin: 0 30px;
  font-size: 18px;
}



@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 40px;
    line-height: 1;
  }

  h3 {
    font-size: 26px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    color: #272142;
    font-size: 16px;
  }

  .btn {
    font-size: 18px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .content-container {
    padding: 0px 20px;
  }

  footer .contact-box {
    background: var(--secondary-colour);
    padding: 30px;
    border-radius: 10px;
  }
}
